[submodule "MinervaNeue"]
	path = MinervaNeue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/MinervaNeue
[submodule "MobileFrontend"]
	path = MobileFrontend
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MobileFrontend
